html 
    head
        title User List 
        link(href='/favicon.ico' rel='icon' type='image/x-icon') 
        link(href="/styles.css" rel="stylesheet")
    body
        .navbar 
            a(href='/') Home Page 
            h3 The user list available to watch online
        #root   
            table.mainTable 
            thead 
            tbody