html 
    head
        title User List 
        link(href='/favicon.ico' rel='icon' type='image/x-icon') 
        link(href="/styles.css" rel="stylesheet")
        block headContent
    body
        .navbar 
            a(href='/') Home Page 
            h3 The user list available to watch online
        block content